.App {
  text-align: center;
}

.App-header {
  background-color: #896978;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Login-container{
  display: flex;
  flex-direction: column;
  gap: .5em;
  background-color: #839791;
  padding: 3rem;
  border-radius: 20px;
}
.MuiFormLabel-root{
  color:white !important;
}